#cardBoard{
    /*background-color: rgb(255, 127, 127); Background-Color for testing purposes*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
}

#restartButton{
    width: 15vw;
    min-width: 200px;
    font-size: 2.5rem;
    border: none;
    border-radius: 15px;
    background-color: hsl(0, 100%, 54%);
    color: white;
}

#restartButton:hover{
    background-color: hsl(0, 100%, 44%);
    cursor: pointer;
}

#restartButton:active{
    background-color: hsl(0, 100%, 58%);
    cursor: pointer;
}

#centeringDiv{
    width: 100vw;
}
